body,html{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Titillium Web', sans-serif;
}
.section_padding{
    padding: 80px 0;
}

.container{
    width: 80%;
    margin: auto;
}
/*   Header area CSS  */
header{
    background: #87509c;
}
.logo{
    width: 20%;
    float: left;
}
nav{
    width: 80%;
    float: left;
}

#mobile_menu{
    display: none;
}

nav ul{
    margin:0;
    padding:0;
    text-align: right;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin-left: 10px;
    padding: 15px 20px;
    transition: .5s;
}

nav ul li a:hover{
    background: #643a79;
    border-radius: 5px;
}

.header_top{
    padding-bottom: 100px;
}
.header_content {
    width: 80%;
    margin:  auto;
    text-align:  center;
}

.header_content h2{
    color: #ffffff;
    font-size: 42px;
    font-weight: 700;
}

.common_btn{
    text-decoration: none;
    background: #eb7d4b;
    color: #fff;
    padding:  20px 0px;
    width:  300px;
    display:  block;
    margin:  30px auto;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 5px 0px #c86a40;
}

/* End of Header Area CSS */

/* Service Area CSS     */
.service_area{
    background: #17c2a4;
}

.section_title {
    text-align:  center;
    color: #fff;
}
.section_title p {
    width:  100%;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 45px;
}



.section_title h2{
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 20px;
    position: relative;
}

.section_title h2:after{
    position: absolute;
    content: '';
    height: 4px;
    width: 80px;
    background: #14a58c;
    top: 60px;
    margin-left: -275px;
}

.service_title{
    margin-left: 0px !important;
}
.single_service_box {
    width:  100%;
    float:  left;
    margin-left: 10px;
    text-align:  center;
    margin-top:  80px;
    color: #fff;
}

.single_service_box:first-child{
    margin-left: 0px;
}
.service_boxs:after {
    content:  '';
    display:  block;
    clear:  both;
}

.single_service_box img{
    width: 80px;
    height: 115px;
}

.single_service_box p {
    opacity: .80;
    font-size:  15px;
    margin-top: 15px;
}

.single_service_box h2{
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
}


/*   End of Service Area CSS */


/*  Team area style  */

.team_area{
    background: #e7f1f8;
}

.team_title{
    color: #3c4761;
}

.team_title p{
    width: 100%;
    margin-left: 0px;
}

.team_title h2:after{
    background: #c8d9e5;
    margin-left: -300px;
}

.single_team_box{
    width: 23%;
    float: left;
    margin-top: 60px;
    margin-left: 20px;
    text-align: center;
    color: #6b7487;

}

.single_team_box:first-child{
    margin-left: 0px;
}

.single_team_box img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    color: #878787;


}

.team_area:after{
    content: '';
    display: block;
    clear: both;
}

.single_team img:first-child {
    margin-left:  0px;
}

.single_team_box p {
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 1;


}

.single_team_box h2 {
    margin-top: 35px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 0;

}

.single_team_box h5{
    color: #addcf1;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

.social_icon svg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #bdd1df;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin-left: 10px;

}


/*  Team area style end  */

/*    Skill  Area Style Start */

.skill_area{
    text-align: center;
    width: 100%;
    margin: 0 auto;
}

.skill_area h2{
    font-size: 40px;
}

.skill_area:after{
    content: '';
    display: block;
    clear: both;
}
.skill_title{
    width: 100%;
    color: #000;
    margin: 0px auto;
}

.skill_title p{
    width: 60%;
    margin-top: 10px;
    margin: 0px auto;
}

.skill_title h2:after{
    background: #dfe8ed;
    margin-left: -205px;
}

.single_box {
    width: 22%;
    float: left;
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
}

.single_box:first-child{
    margin-left: 0px;
}



.skill_area p{
    font-weight:normal;
    font-size: 18px;
}


/*    Skill  Area Style End */


/*    Portfolio  Area Style Start */
.portfolio_area{
    background: #ffdd99;

}

.portfolio_title{
    color: #393939;
}

.portfolio_title h2{
    font-size: 40px;
    font-weight: 600;
}

.portfolio_title h2:after {
    margin-left: -188px;
    background: #e5c37f;
}

.portfolio_title p{
    margin-left: 0px;
    font-weight: 600;
}

.portfolio_menu {
    margin-top:  40px;
    margin-bottom:  60px;
    text-align:  center;
    margin-right: 30px;
}


.portfolio_menu ul li {
    display: inline-block;
    text-decoration:  none;
    background: #ebc985;
    padding: 8px 22px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: .5s;
    margin-left: 5px;

}


.portfolio_menu ul li:hover {
    background: #fff;
}

.portfolio_single_box{
    width: 40%;
    float: left;
    text-align: center;
    margin-left: 50px;
    margin-top: 30px;
}

.portfolio_boxs:after{
    content: '';
    display: block;
    clear: both;
}

.portfolio_single_box img{
    width: 100%;
}

.portfolio_single_box p{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.portfolio_btn{
    text-align: center;
    background: #17c2a4;
    color: #fff;
    box-shadow: 0px 5px 0px #14a58c;
    font-size: 16px;
    font-weight: 400;
    margin-top: 50px;
}
/*    Portfollio  Area Style End */

/*    Testimonial  Area Style Start */

.testimonial_area{
    background: #d74680;
}

.testimonial_title h2:after {
    margin-left: -300px;
    background:  #b73c6d;
}

.testimonial_boxes{
    margin-top: 80px;
}

.testimonial_boxes:after{
    content: '';
    display: block;
    clear: both;
}

.single_testimonial_box{
    width: 48%;
    float: left;
    margin-left: 20px;
    margin-bottom: 50px;
}
.testimonial_box_image{
    width: 25%;
    float: left;
}
.testimonial_box_image img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.single_testimonial_box_content{
    width: 70%;
    margin-left: 20px;
    float: left;
    color: #ffffff;
}

.single_testimonial_box_content h2 {
    margin-bottom: 0px;
}

.single_testimonial_box_content h3 {
    margin-top:  0;
    font-weight: 100;
    opacity: 5;
    color:  gold;
}

.testimonial_title p{
    color: #61a79b;
}


/*    Testimonial  Area Style End */

/*  Contact Area Style Start*/

.contact_area{
    background: #3c549a;
}



.contact_title h2:after {
    margin-left: -160px;
    background: #273a71;
}

form{
    margin-top: 80px;
}

.first_half {
    width:  49%;
    float:  left;
    position: relative;
}

.second_half {
    width:  49%;
    float:  left;
    position: relative;
}

.first_half input {
    width:  100%;
    height: 20px;
    padding:  10px 0px;
    border-radius:  5px;
    background: #273a71;
    border:  none;
    position:  relative;
}

.second_half input {
    width:  100%;
    height: 20px;
    padding:  10px 0px;
    border-radius:  5px;
    background: #273a71;
    margin-left: 15px;
    border:  none;
    position:  relative;;
}

form {
    margin-top:  25px;
}

.contact_form {
    width: 70%;
    margin: 0 auto;
}

.first_half label {
    position:  absolute;
    top: 7px;
    left:  30px;
    /*top: 7px;
    margin-left:  20px;*/
}

.second_half label{
     position: absolute;
     top: 7px;
     left: 40px;

}

.second_row textarea {
    margin-top:  20px;
    width:  100%;
    height: 150px;
    background: #273a71;
    border:  none;
    border-radius: 5px;
    position: relative;
}

.second_row label {
    position: absolute;
    top: 70px;
    margin-left: 20px;
}

.second_row {
    position: relative;
}
label span{
    color: red;
}

.form_btn{
    background: #30bae7;
    border: none;
    box-shadow: 0px 5px 0px #299ec5;
}


/*  Contact Area Style End*/

footer{
    background: #344b8e;
    padding: 40px 0px;
}

footer ul{
    text-align: center;
}

footer ul li{
    display: inline-block;

}

footer ul li a{
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

footer ul li a:hover{
    color: #30b4e2;
}
